<% content_for :body_class, "owl-show-page" %>

<h1>🦉<%= @owl.name %>プロフィール🦉</h1>

<div class="owl-profile">
  <div class="profile-card">
    <h2><%= @owl.name %></h2>

    <div class="profile-details">
      <p><strong>🦉 種類:</strong> <%= @owl.species %></p>
      <p><strong>🎂 年齢:</strong> <%= @owl.age %>歳</p>
      <p><strong>🏠 住んでいる場所:</strong> <%= @owl.habitat %></p>
      <div>
        <p><strong>📝 自己紹介:</strong>
        <p>Hello World。知識の森の梟🦉フクちゃんだよ‼</p>
        <p>こんなところまでわざわざありがとうホゥ～❣この森のことは少しは分かってもらえたかホ～？</p>
        <p>みんなの学習の助けになるようにもっともっと勉強して冬支度(準備)しなくちゃっホゥ～</p>
      </div>
    </div>

    <div class="owl-messages">
      <h3>📢 開発者メッセージ (2025年10月4日)</h3>

      <div class="message-box">
        <p>こんにちは！72期生のふくちゃんです。入学してからもうすぐ2カ月ですね。</p>
        <p>ところで皆さん、学習は順調でしょうか？私は雲行きがとっても怪しいです😅</p>
        <p>中間試験前というのに頭がいっぱいで疲れたので、1度何もかも忘れてアプリ開発してみました。</p>
        <p>初めてのミニアプリですがいかかだったでしょうか？と言うより先に</p>
        <p>皆さんに実際に触っていただけたことが何よりうれしいです。本当にありがとうございます。</p>
        <p>私が何を実現したかったのかニュアンスだけでも伝われば幸いです。</p>
        <p>なんせこのアプリを作るまで構想考えるだけでかなりの時間がふっ飛びましたから💦</p>
        <p>とりあえず今回の制作方針について話します。まず私が最初に考えたのは、もし仮に作るならほかの受講生の方々から</p>
        <p>「あの時こんなアドバイスがあったらな～」とか「この機能さえ知っていれば～」とか</p>
        <p>意見を伺えるものにしたい。そして、今後の受講生の為にもアップデートできるものがいいな～と考えました。</p>
        <p>そのあとすぐに私の分身として梟🦉の<%= @owl.name %>を作ると決めました。ですがここからが問題。</p>
        <p>世界観をどうしたものかと悩みに悩みこみました。結局、ちょっとマニアックですが最初に出てきた案が</p>
        <p>分身(生まれ変わり)ということでポケモン不思議のダンジョンでした。細かく言うと赤の救助隊です。</p>
        <P>あの主人公が目覚めて語っていく表現と世界観が私は大好きです。</p>
        <p>どうにかこうにか表現できるように頑張った結果が見ていただいた通りです。</p>
        <p>個人的にあの世界の自然を表現するのは無理だな～と悩んでいたところ、ふいに浮かんだのが</p>
        <p>ワンピース、シャボンディ諸島です。巨大な木にシャボン玉っていいな～と思って</p>
        <p>イラストを巨大樹にして掲示板風にアレンジしました。問題アドバイスボタン(1個のみ実装)を</p>
        <p>シャボン玉にしたかったのですが表現が難しく今の私では無理でした。あとボタンの押せる部分が結構シビアに</p>
        <p>なってます。申し訳ありません😌 そして、こちらのアプリですが、らんてくんも制作のきっかけとなっています。</p>
        <p>らんてくん達とはちょっと違ったアプローチで学習の力になるアプリ作れないかな～という想いがありました。</p>
        <p>この森にらんてくんとロボらんてくんが遊びに来るのも面白いなって考えて妄想したりしてました。</p>
        <p>ロボらんてくん(ここが噂の恐怖の森カ)、らんてくん（違う違う。知識の森だよ！）みたいな始まり（笑）</p>
        <p>最後となりますがこのページは急ぎで作成したのでトラップになってます。マウスの戻るボタン押すと</p>
        <p>問題アドバイスボタンが押せなくなっているのと【一覧に戻る】押すと最初からとなります。</p>
        <p>隠し要素として掲示板表示7.5秒後以降にフクちゃんをクリックすると可愛く微笑んでくれるようになってます。</p>
        <p>ぜひ!!最初から物語再生ボタンを押してskipボタンで見に行ってください。ヒント(黒板右下に注目🧐)</p>
      </div>

      <div class="message-box">
        <p>今回の反省点</p>
        <p>機能が１つのファイルに集約しすぎて手が付けられなくなった。</p>
        <p>妄想のしすぎ</p>
      </div>

      <div class="message-box">
        <p>一緒に頑張って素晴らしいエンジニアになりましょう!!</p>
      </div>
    </div>

    <div class="action-buttons">
      <%= link_to "一覧に戻る", owls_path, class: "btn btn-secondary" %>
    </div>

    <!-- ❄️ プロフィールBGM -->
    <div class="bgm-controls" data-controller="bgm-show">
      <button data-bgm-show-target="toggleButton"
              data-action="click->bgm-show#toggle"
              class="bgm-btn">
        BGM停止
      </button>
    </div>
  </div>
</div>
